.menu-toggle {
  position: relative;
  z-index: 999;
  display: inline-flex;
  align-items: center;
  justify-content: center;

  width: 46px;
  height: 46px;
  border-radius: 50%;
  background: rgba(0, 123, 255, 0.1);
  backdrop-filter: blur(6px);
  border: 2px solid rgba(255, 255, 255, 0.2);

  cursor: pointer;
  transition: all 0.3s ease-in-out;
  color: #007bff;
}

/* Hover & focus state */
.menu-toggle:hover {
  background: rgba(0, 123, 255, 0.2);
  transform: scale(1.05);
  box-shadow: 0 4px 12px rgba(0, 123, 255, 0.35);
}

.menu-toggle:active {
  transform: scale(0.95);
  background: rgba(0, 123, 255, 0.3);
  box-shadow: 0 2px 8px rgba(0, 123, 255, 0.25);
}

/* Icon di dalam toggle */
.menu-toggle svg {
  width: 24px;
  height: 24px;
  transition: transform 0.3s ease;
}

/* Efek animasi ketika tombol berubah (Menu ↔ X) */
.menu-toggle:active svg {
  transform: rotate(90deg) scale(0.9);
}

/* Drawer for mobile menu */
.menu-drawer {
  position: fixed;
  left: 0;
  right: 0;
  top: 72px;
  min-height: 100vh;
  background-color: #007bff;
  backdrop-filter: blur(10px);
  color: white;
  padding: 24px;
  padding-bottom: 80px;
  overflow-y: auto;
  z-index: 998;
}
.menu-drawer ul {
  width: 100%;
  display: flex;
  flex-direction: column;

  padding: 0;
  list-style-type: none;
}

/* Main menu item styles */
.menu-item-mobile {
  margin-bottom: 10px;
}

.menu-item-link {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-decoration: none;
  padding: 16px;
  border-radius: 8px;
  color: whitesmoke;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
}

.menu-item-link:hover {
  background-color: rgba(0, 162, 255, 0.05);
}

/* Chevron icon styles */
.chevron-icon {
  transition: transform 0.2s ease-in-out;
}

.rotate-180 {
  transform: rotate(180deg);
}

.sub-menu-item {
  display: flex;
  align-items: center;
  padding: 8px;
  gap: 8px;
  margin-left: 25px;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
}

.sub-menu-item:hover {
  background-color: rgba(255, 255, 255, 0.05);
}

.sub-menu-item-link {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: whitesmoke;
  gap: 5px;
  padding: 8px 16px;
  border-radius: 8px;
  transition: background-color 0.2s ease-in-out;
}

.sub-menu-item-link:hover {
  background-color: rgba(0, 162, 255, 0.1);
}

@media (min-width: 768px) and (max-width: 1024px) {
  .menu-drawer ul {
    width: 100%; /* Lebar 60% untuk rentang layar ini */
  }
  .menu-drawer {
    width: 70%;
    border-top-right-radius: 16px;
  }
}
